.container--principal{
    display: flex;
    justify-content: start;
    align-items: start;
    
}
/*Apartado de informacion*/
.container--informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23.8vw;
    height:100vh;
    top: 2%;
    position: sticky;
    background-color: #212A3E;
    margin-right: 250px;
    
}
/*Foto de perfil*/
.container--imagen{
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: center;
    padding-bottom: 25px;
}

.imagen--perfil{
    width: 170px;
    height: 170px;
    margin-bottom: 20px;
    position: static;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
}

.imagen--perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#cambiar--foto {
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    background-color: #212A3E;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#cambiar--foto:hover {
    background-color: #0056b3;
    opacity: 50%;
}
input[type="file"] {
    display: none;
}

/*Informacion de perfil*/
.container--datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#name{
    font-family: "Lato";
    font-size: 25px;
    color: #fbfbfb;
    padding-bottom: 25px;
}

#email{
    font-family: "Lato";
    font-size: 15px;
    color: #fbfbfb;
    padding-bottom: 25px;
}

#telefono{
    font-family: "Lato";
    font-size: 15px;
    color: #fbfbfb;
    padding-bottom: 25px;
}

.modificar--datos{
    display: flex;
    justify-content: center;
    height: 45px; 
	width: 252px;   
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	background-color: #BAD895; 
	border-color: white; 
	border-style: solid; 
	border-radius: 2em;	
    cursor: pointer;
    font-family: "Lato";
    font-size: 28px;
}

/*Apartado de historial de servicios*/
.title--historial {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: "Lato";
    font-size: 48px;
    color: #fbfbfb;
}

.container--card {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 681px;
    flex-direction: column;
}
.product--card {
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #B8C2D5;
    margin-bottom: 10px;
    height: 191px;
    width: 681px;
}

.container--imagenServicio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 211px;
}

.image--servicio{
    width: 145px;
    height: 145px;
    margin: 20px;
    position: static;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #212A3E;
    background-color: #212A3E;
}

.image--servicio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container--datosServicio{
    width: 771px;
    height: 211px;
    color: #212A3E;
    font-size: 20;
}

#servicio{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: "Lato";
    font-size: 36px;
    margin: 0px;
}

.especialista{
    display: flex;
    align-items: start;
    justify-content: start;
}

#name--especialista{
    padding-left: 10px;
}

.price{
    display: flex;
    align-items: start;
    justify-content: start;
}

.fecha--hora{
    display: flex;
    align-items: start;
    justify-content: start;
}

.fecha{
    display: flex;
    align-items: start;
    justify-content: start;
}

#fecha--servicio{
    padding-left: 10px;
}

.hora{
    display: flex;
    align-items: start;
    justify-content: start;
    padding-left: 40px;
}

#hora--servicio{
    padding-left: 10px;
}

/*Apartado de actualizar datos*/
.title--actualizar {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: "Lato";
    font-size: 48px;
    color: #fbfbfb;

}

.container--formActualizar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    width: 681px;
    margin: auto; 
    font-family: "Lato";
    border-radius: 8px;
    padding-bottom: 25px;
    background-color: #B8C2D5;
    margin-bottom: 10px;
    padding-top: 25px;
}

.container--formActualizar label {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.container--formActualizar input {
    width: 50%;
    padding: 5px; 
    border-radius: 5px;
    border: 1px solid #ccc;
}

#boton--guardar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.guardar--datos{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 45px; 
	width: 252px;   
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	background-color: #BAD895; 
	border-color: white; 
	border-style: solid; 
	border-radius: 2em;	
    cursor: pointer;
    font-family: "Lato";
    font-size: 28px;
}

.hidden {
    display: none;
}