:root {
    --footer-blue: #1C2B52;
    --ocean-blue: #296CD1;
    --dark-gray: #869DA6;
    --ivory: #EFF0D5;
    --not-white: #F2F2EB;
    --green-tea: #BAD895;
    }
.container--login {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

.container--login h2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: "Lato";
    font-size: 48px;
    color: #fbfbfb;

}

.container--inicioSocial{
    display: flex;
    justify-items: center;
    align-items: center;
}

#logo--google{
    width: 70px; 
    padding: 0px 10px 10px 10px;
}
#logo--facebook{
    width: 70px;
    padding: 0px 10px 10px 10px;
}
#logo--mac{
    width: 70px;
    padding: 0px 10px 10px 10px;
}

.formulario--login input{
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    width: 408px;
    height: 40px;
    border-radius: 10px;
    border-style: double;
    border-width: 1px;
    border-color: #296CD1;
    margin-top: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
    font-family: "Lato";
    font-size: 15px;
    align-items: center;
    justify-items: center;
}

.login--boton{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#login{
    height: 45px; 
	width: 252px;   
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	background-color: #BAD895; 
	border-color: white; 
	border-style: solid; 
	border-radius: 2em;	
    cursor: pointer;
    font-family: "Lato";
    font-size: 28px;
}

#login:hover{
    background-color: #1C2B52;
    color: white;
    transition: 0.1s;
    text-decoration: dotted;
    font-size: 20px;
    font-weight: bold;
    opacity: 120%;
}

#registro{
    height: 45px; 
	width: 149px;   
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	background-color: #869DA6; 
	border-color: white; 
	border-style: solid; 
	border-radius: 2em;	
    cursor: pointer;
    font-family: "Lato";
    font-size: 24px;
}

#registro:hover{
    color: white;
    transition: 0.1s;
    text-decoration: dotted;
    font-size: 20px;
    font-weight: bold;
    opacity: 120%;
}