.container--login {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 0% 0%;
    gap: 0%;

}

.container--login h2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: "Lato";
    font-size: 48px;
    color: #fbfbfb;

}

.container--inicioSocial {
    display: flex;
    justify-items: center;
    align-items: center;
}

#logo--google {
    width: 70px;
    padding: 0px 10px 10px 10px;
}

#logo--facebook {
    width: 70px;
    padding: 0px 10px 10px 10px;
}

#logo--mac {
    width: 70px;
    padding: 0px 10px 10px 10px;
}

#form--login {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formulario--login input {
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    width: 408px;
    height: 40px;
    border-radius: 10px;
    border-style: double;
    border-width: 1px;
    border-color: #296CD1;
    padding-left: 15px;
    font-family: "Lato";
    font-size: 15px;
    align-items: center;
    justify-items: center;
}

/* Estilo normal cuando la contraseña cumple la regex */
#password--login.valid {
    background-color: #FFFF;
    border-color: #296CD1;
    opacity: 1;
}

/* Estilo tenue cuando la contraseña no cumple la regex */
#password--login.invalid {
    background-color: #e0e0e0;
    /* Un gris más claro para indicar que está deshabilitado */
    border-color: #999999;
    /* Borde gris tenue */
    opacity: 0.6;
}

.login--boton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {
    place-content: center;
    text-align: center;
    height: 49.85px;
    width: 250px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #F2F2EB;
    color: #1C2B52;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Lato";
    font-size: 16px;
}

#login:hover {
    background-color: #1C2B52;
    color: #F2F2EB;
}

#registro {
    font-size: 24px;
    place-content: center;
    text-align: center;
    height: 49.85px;
    width: 250px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #F2F2EB;
    color: #1C2B52;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Lato";
    font-size: 16px;
}

#registro:hover {
    background-color: #1C2B52;
    color: #F2F2EB;
}

.login-message {
    display: flex;
    width: 408px;
    text-align: justify;
    margin-bottom: 5px;
    margin-top: 10px;
}

.error-message {
    display: flex;
    width: 408px;
    text-align: justify;
    margin-bottom: 30px;
}

/*----------Modal---------*/

.modal {
    background-color: #5977B3;
    border-radius: 10px;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, .70);
}

#btnUsuario {
    padding-right: 20px;
    padding-left: 20px;
}

#btnProveedor {
    padding-left: 20px;
    padding-right: 20px;

}

#seleccion--usuario {
    width: 245px;
}

.container--seleccion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    background-color: #5977B3;

}

.seleccion {
    background-color: #5977B3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #FFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.seleccion img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.seleccion p {
    margin: 0;
    font-size: 30px;
    font-family: "Lato";
}

#seleccion--usuario:hover,
#seleccion--especialista:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #FFFFFF;
    cursor: pointer;
    transform: scale(1.05);
    /* Agranda un poco el botón */
    transition: 1s
}


/*---------Mediaquery-----------*/

@media only screen and (max-width:700px) {
    .container--login h2 {
        font-size: 35px;

    }

    #logo--google {
        width: 45px;
        padding: 0px 05px 05px 05px;
    }

    #logo--facebook {
        width: 45px;
        padding: 0px 05px 05px 05px;
    }

    #logo--mac {
        width: 45px;
        padding: 0px 05px 05px 05px;
    }

    .error-message {
        width: 300px;
    }

    .formulario--login input {
        width: 300px;
        height: 25px;
        font-size: 12px;

    }

    #login {
        height: 30px;
        width: 172px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        border-radius: 2em;
        font-size: 20px;
    }

    #registro {
        height: 30px;
        width: 129px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
        border-radius: 2em;
        font-size: 18px;
    }
}

@media only screen and (max-width: 450px) {
    body {
        display: flex;
        flex-direction: column;
        padding-bottom: 0.5em;
    }

    .container--login h2 {
        font-size: 35px;
        padding-top: 25px;
    }
}