:root {
    --footer-blue: #1C2B52;
    --ocean-blue: #296CD1;
    --dark-gray: #869DA6;
    --ivory: #EFF0D5;
    --not-white: #F2F2EB;
    --green-tea: #BAD895;
}

.modServicios--title {
    display: flex;
    width: 100%;
    font-family: 'Lato';
    background-color: #212A3E;
    color: var(--dark-gray);
}

.modServicios--title h1 {
    width: 73%;
    padding: 10px;
    display: flex;
    justify-content: end;
}

.container {
    display: flex;
    flex-direction: row;
    z-index: -5;
}

.admin--section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 600px;
    background-color: #212A3E;
    color: var(--dark-gray);
    border-radius: 0px 0px 25px 25px;
}

.imgAdmin--container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 80%;
    margin: 30px 20px;
    font-family: 'Merriweather';
}

.imgAdmin--container img {
    width: 100px;
}

.imgAdmin--container h2 {
    display: flex;
    justify-items: center;
    margin: 30px 0px 40px 0px;
    font-size: 22px;
    text-align: center;
}

.img--perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    border: 0.1px solid black;
    height: 150px;
    width: 150px;
    background: var(--not-white);
    box-shadow: 10px 6px 15px 1px rgb(143, 138, 138, 35%);
}

.options--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 10px 15px;
}

.options--container a {
    background-color: white;
    color: #212A3E;
    border: 0.5px solid black;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 2rem;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: 80%;
    font-size: 20px;
    font-family: "Lato";
    transition-duration: 0.3s
}

.options--container a:hover {
    border-radius: 25px 25px 25px 25px;
    background: #1C2B52;
    color: white;
    border: 0.3px solid white;
    transition: .3s;
    width: 77%;
}

/*----- Cards de Cuentas -----*/
.fondo--main {
    width: 65%;
    padding: 3%;
}

.card--modServicios {
    width: 105%;
    background-color: #1C2B52;
    border-radius: 2rem;
    margin-bottom: 35px;
    border: solid;
}

.card--modServicios, #card--titles {
    display: inline-block;
    justify-content: space-between;
    padding: 1%;
}

.card--modServicios:hover {
    transform: scale(99%);
    box-shadow: 10px 10px 10px #869DA6;
    #img--modServicios {
        filter: drop-shadow(5px 5px 10px #869DA6);
    }
}

#card--titles {
    display: flex;
    flex-direction: row;
}

#img--modServicios {
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 50%;
}

#container--modServicios {
    display: flex;
    align-items: center;
    margin: 10px;
}

.nombre--usuario {
    width: fit-content;
    color: #EFF0D5;
    font-family: 'Merryweather';
    font-size: clamp(12px, 2vw, 17px);
    margin: 0%;
}

.nombre--tipoCuenta {
    width: fit-content;
    color: #EFF0D5;
    font-family: 'Merryweather';
    font-size: clamp(12px, 2vw, 17px);
    margin: 0%;
}

.descripcion--cuenta {
    width: 65%;
    height: fit-content;
    font-family: 'Merriweather';
    font-size: clamp(13px, 1vw, 22px);
    color: #EFF0D5;
    border: solid white 2px;
    border-radius: 1rem;
    padding: 5px 5px;
    margin-left: 1%;
    top: 0;
}

/* ----- Media query ----- */
@media (max-width: 1200px) {
    .options--container a {
        width: 215px;
    }

    .options--container a:hover {
        width: 213px;
    }
}

@media (max-width: 950px) {
    .container {
        flex-direction: column;
    }

    .modServicios--title h1 {
        width: 100%;
        justify-content: center;
    }

    .admin--section {
        width: 100%;
        flex-direction: row;
        height: 300px;
    }

    .nav--ingresar {
        visibility: hidden;
    }

    .fondo--main {
        width: 87%;
    }

    #SOS-image {
        visibility: visible;
    }

    #login-image {
        visibility: visible;
    }
}

@media (max-width: 660px) {
    .modServicios--title h1 {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .options--container a {
        width: 180px;
    }

    .options--container a:hover {
        width: 178px;
    }
}

/* ----- Media Query movil ----- */
@media (max-width: 460px) {
    .modServicios--title h1 {
        font-size: 22px;
    }

    .admin--section {
        height: 170px;
    }

    .imgAdmin--container {
        width: 100%;
        margin: 0px;
    }
    
    .imgAdmin--container img {
        width: 50px;
    }
    
    .imgAdmin--container h2 {
        justify-items: center;
        font-size: 14px;
        text-align: center;
        margin-bottom: 0px;
        margin: 30px 10px 0px 10px;
    }
    
    .img--perfil {
        height: 70px;
        width: 70px;
    }

    .options--container {
        margin: 10px 15px;
    }

    .options--container a {
        width: 150px;
        height: 15px;
        font-size: 14px;
        padding: 5px;
    }

    .options--container a:hover {
        width: 147px;
    }
}