#Conteiner-principal
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10%;
    margin: 2% 0%;
}

/*Botones de la pag*/

 #Conteiner-principal button
{
   
    color: black;
    background: transparent;
    border: none;
    
}
/*Botones de la pag*/

#botones button:hover{

    border-radius: 2em;
    border: solid #296CD1 2px ;
    box-shadow: 2px 5px 2px 2px #296CD1;
    padding: 10px 50px;
    margin: 3%;
    background-color: #ffffff; 
    color: #1C2B52;
}


/* contenedor de la informacion*/
#info
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #212A3E;
    background-image: url(../../../assets/NS.png);
    background-image;

    height: 500px;
    width: 65%;
    margin: 3% 0%;
    border-radius: 2em;
    color: white;
}

.logoback{
    display: flex;
    position: absolute;
    justify-content: center;
}

#logo--back{
    display: flex;
    opacity: 15%;
    width: 400px;
}

/*contenedor vision*/
#container-vision
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    height: 50%;
    width: 40%;
    gap: 0%;
}

/* contenedor valores*/
#container--valores
{
    display: flex;
    margin: 40px 70px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow:scroll;
    text-align: justify;
   
    color: #F2F2EB;
    font-size:15px;
}

#p1{
    text-align: center;
}

#container--valores ul{
    text-align: justify;
}

#container--valores h2
{
    text-align: center;
}

/*contenedor sobre nosotros*/
#container-acercaDeNosotros
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    color: #F2F2EB;
    height: 50%;
    width: 40%;

}

/*contenedor de mision*/
#container-mision
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    color: #F2F2EB;
    height: 50%;
    width: 40%;
}
@media(max-width:700px){
    .text--ACDH{
        font-size:xx-small;
    }
    .text--ACDp{
        font-size:xx-small;

    }
    #Conteiner-principal{
    flex-direction: column;
    }
}
    



@media (max-width: 450px){
    #logo--back{
        display: flex;
        opacity: 95%;
        width: 350px;
    }

}