:root {
    --footer-blue: #1C2B52;
    --ocean-blue: #296CD1;
    --dark-gray: #869DA6;
    --ivory: #EFF0D5;
    --not-white: #F2F2EB;
    --green-tea: #BAD895;
    }


#Conteiner-principal
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10%;
    margin: 2% 0%;
}

/*Botones de la pag*/

#botones button
{
    border-radius: 2em;
    padding: 10px 50px;
    margin: 3%;
    background-color: var(--green-tea);
    color: var(--footer-blue);
    font-weight: bold;
    
}


/*contenedor de los botones*/
#botones{
    display: flex;
    align-items: start;
    justify-content: start;
    height: 500px;
    width: 15%;
    background-color:#212A3E;
    flex-direction: column;
    gap: 10px;
    border-radius: 2em;
    padding-top: 30px;
}

/* contenedor de la informacion*/
#info
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #212A3E;
    height: 500px;
    width: 65%;
    margin: 3% 0%;
    border-radius: 2em;
    color: white;
}

.logoback{
    display: flex;
    position: absolute;
    justify-content: center;
}

#logo--back{
    display: flex;
    opacity: 15%;
    width: 400px;
}

/*contenedor vision*/
#container-vision
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    height: 50%;
    width: 40%;
    gap: 0%;
}

/* contenedor valores*/
#container--valores
{
    display: flex;
    margin: 40px 70px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    color: #F2F2EB;
    font-size:15px;
}


#container--valores h2
{
    text-align: center;
}

/*contenedor sobre nosotros*/
#container-acercaDeNosotros
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    color: #F2F2EB;
    height: 50%;
    width: 40%;

}

/*contenedor de mision*/
#container-mision
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    color: #F2F2EB;
    height: 50%;
    width: 40%;
}

@media (max-width: 700px){
    #logo--back{
        opacity: 10%;
        width: 350px;
    }

    #info{
        width: 55%;
    }

    #botones button{
        display: flex;
        justify-content: center;
        border-radius: 2em;
        width: 60px;
    }

    #botones{
        height: 510px;
        width: 12%;
        gap: 15px;
        border-radius: 2em;
    }
}

@media (max-width: 450px){
    #logo--back{
        display: flex;
        opacity: 95%;
        width: 350px;
    }

}