:root {
    --footer-blue: #1C2B52;
    --ocean-blue: #296CD1;
    --dark-gray: #869DA6;
    --ivory: #EFF0D5;
    --not-white: #F2F2EB;
    --green-tea: #BAD895;
    }

 
    
#Conteiner-principal
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0% 0%;
    gap: 0%; 
}

/*Botones de la pag*/
#botones 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 2%;
    padding: 0%;
}
#botones button
{
    background-color: transparent;
    border: none;
    width: 60px;
    height: 60px;
    color: #F2F2EB;
    
}
#botones button:hover
{
    cursor: pointer;
    color: aquamarine;
    animation: 0.6s;
}


/* contenedor de la informacion*/


#info
{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #212A3E;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 500px;
    width: 80%;
    margin: 3% 0%;
    border-radius: 2em;

}

/*Tanio de la fuente*/
#info h2, p
{
    font-size: large;
}

/*imagen background*/

.logoback{
    display: flex;
    position: absolute;
    justify-content: center;
}

#logo--back{
    display: flex;
    opacity: 15%;
    width: 400px;
}

/*contenedor vision*/
#container-vision
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    height: 50%;
    width: 40%;
    color: white;
}

/* contenedor valores*/
#container--valores
{
    
    display: flex;
    margin: 40px 70px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    overflow: auto;
    text-align: justify;
    height: 60%;
    width: 70%;
    padding-top: 5%;
    padding-right: 5%;
    color: #F2F2EB;
    font-size:15px;
}


#container--valores h2
{
    text-align: center;
}

/*contenedor sobre nosotros*/
#container-acercaDeNosotros
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    color: #F2F2EB;
    height: 50%;
    width: 40%;
}

/*contenedor de mision*/
#container-mision
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    text-align: justify;
    color: #F2F2EB;
    height: 50%;
    width: 40%;
}

/*Seccion de integrantres*/
#team
{
    text-align: center;
    margin-top: 5%;
}

#container-team
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
}

.integrante
{ 
    display: flex;
    flex-direction: column;
    background-color: #212A3E;
    color: antiquewhite;
    min-height: 600px;
    width: 450px;
    margin: 2%;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    padding: 2%;
    gap: 20px;
    padding: 1%;
}
.integrante img
{
    padding: 0%;
    background-color: #F2F2EB;
    height: 60%;
    width: 60%;
    border-radius: 50%;
    margin: 0%;
}
.integrante p
{
    text-align: center;
}

/*inicia media query con configuracion para iphon*/
@media(max-width:700px){
   
    #Conteiner-principal{
    flex-direction: column;
    }

    #info
    {
        width: 90%;
    }
    /*tamanio de letra*/
    #info h2, p, li
    {
        font-size: small;

    }

    /*modificacion del logo*/
    #logo--back{
        display: flex;
        opacity: 5%;
        width: 100px;
    }
    .logoback{
        display: flex;
        position: absolute;
        justify-content: center;
       opacity: 15%;
    }

    /*modificacion de botones*/
    #botones 
    {
    
      width: auto;
    }

    /*adaptacion del div infp*/
    #info{
        margin-top: 10%;
    }
    /*adaptacion del contenedor grid*/
    #container--valores
    {
        height: 80%;
    }

    #container-acercaDeNosotros
    {
        height: 90%;
        width: 70%;
    }

    #container-mision
    {
        height: 90%;
        width: 70%;
    }

    #container-vision
    {
        height: 90%;
        width: 70%;
    }

    #container--valores
    {
        height: 90%;
        width: 70%;
        padding-top: 60%;
    }

    .integrante
    {
        padding: 10%;
    }

}
    
@media (max-width: 450px){
    #logo--back{
        display: flex;
        opacity: 95%;
        width: 350px;
    }

}