:root {
    --footer-blue: #1C2B52;
    --ocean-blue: #296CD1;
    --dark-gray: #869DA6;
    --ivory: #EFF0D5;
    --not-white: #F2F2EB;
    --green-tea: #BAD895;
}

.admin--title {
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    padding: 30px 0px;
}

hr {
    width: 70%;
    height: 5px;
    background: #1C2B52;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

.imgAdmin--container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: 30px 30px;
    font-family: 'Lato';
}

.imgAdmin--container img {
    width: 100px;
}

.imgAdmin--container h2 {
    margin: 30px 0px 40px 0px;
}

.img--perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    border: 0.1px solid black;
    height: 150px;
    width: 150px;
    background: radial-gradient(40% 40% at 50% 50%, #7373 30%, #D9D9D9 100%);
    box-shadow: 10px 6px 15px 1px rgb(143, 138, 138, 35%);
}

.options--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0px 30px; 
}

.options--container a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Lato";
    text-decoration: none;
    text-align: center;
    color: black;
    margin: 10px;
    padding: 10px;
    width: 80%;
    height: 50px;
    border-radius: 25px;
    border: 0.5px solid black;
    background: #B8C2D5;
    box-shadow: 4px 8px 10px 1px rgb(143, 138, 138, 35%);
    background-color: #212A3E;
    color: white;
    cursor: pointer;
    transition-duration: 0.3s
}

.options--container a:hover {
    border-radius: 24px;
    background: white;
    color: #1C2B52;
    border: 0.5px solid black;
    transition: 0.3s;
    padding: 5px;
    margin: 14.5px;
    width: 79%;
    height: 51px;
}


/* ----- Media query ----- */
@media (max-width: 1056px) {
    .imgAdmin--container {
        width: 35%;
        margin: 30px 20px 30px 0px;
    }

    .imgAdmin--container h2 {
        font-size: 23px;
    }

    .options--container {
        width: 65%;
        margin: 60px 30px 60px 0px;
    }
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .imgAdmin--container h2 {
        font-size: 22px;
    }

    .options--container {
        margin: 30px;
    }

    .imgAdmin--container {
        margin: 30px;
        flex-direction: column-reverse;
    }

    .options--container a{
        margin: 25px;
        width: 464px;
        height: 50px;
    }

    .options--container a:hover {
        border-radius: 24px;
        background: white;
        color: #1C2B52;
        border: 0.5px solid black;
        transition: 0.3s;
        padding: 7px;
        margin: 28.5px;
        width: 460px;
        height: 49px;
    }
}


@media (max-width: 770px) {
    .admin--title {
        font-size: 15px;
    }

    .imgAdmin--container h2 {
        font-size: 22px;
    }

    .options--container a {
        font-size: 21px;
        width: 420px;
        height: 30px;
        margin: 20px;
    }

    .options--container a:hover {
        border-radius: 24px;
        background: white;
        color: #1C2B52;
        border: 0.5px solid black;
        transition: 0.3s;
        padding: 7px;
        margin: 23.52px;
        width: 417px;
        height: 29px;
    }
}

@media (max-width: 660px) {
    .admin--title {
        font-size: 11px;
    }

    .imgAdmin--container {
        width: 400px;
        height: 200px;
    }

    .imgAdmin--container h2 {
        font-size: 19px;
    }

    .img--perfil {
        width: 100px;
        height: 100px;
    }
    
    .img--perfil img {
        width: 50%;
    }

    .options--container a {
        font-size: 16px;
        width: 320px;
        height: 30px;
        margin: 15px;
    }
    
    .options--container a:hover {
        border-radius: 24px;
        background: white;
        color: #1C2B52;
        border: 0.5px solid black;
        transition: 0.3s;
        padding: 7px;
        margin: 18.5px;
        width: 315px;
        height: 29px;
    }
}

@media (max-width: 490px) {
    .imgAdmin--container h2 {
        font-size: 17px;
    }
}

/* ----- Media Query movil ----- */
@media (max-width: 440px) {
    .admin--title {
        font-size: 9px;
    }

    .imgAdmin--container {
        width: 100%;
    }

    .imgAdmin--container h2 {
        font-size: 14px;
    }

    .img--perfil {
        width: 100px;
        height: 100px;
    }

    .img--perfil img {
        width: 50%;
    }

    .options--container {
        margin: 0px 30px;
    }
    .options--container a {
        font-size: 13px;
        width: 90%;
    }

    .options--container a {
        width: 250px;
        height: 20px;
    }

    .options--container a:hover {
        border-radius: 24px;
        background: white;
        color: #1C2B52;
        border: 0.5px solid black;
        transition: 0.3s;
        padding: 7px;
        margin: 18.5px;
        width: 240px;
        height: 19px;
    }
}