body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);
    padding-bottom: 7em;
    position: relative;
    background-color: red;
}

/*      Barra de navegación     */
.nav--container {
    background: linear-gradient(279deg, rgba(255, 255, 255, 0.80) 11.65%, rgba(30, 144, 255, 0.80) 66.35%, rgba(92, 183, 221, 0.80) 109.43%);
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

/*      logo Imagen     */
.nav--logo img {
    width: 157px;
    height: 157px;
}

/*      Centro del navvar       */
.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--Titulo Nexus Services--*/
#NS--title {
    text-decoration: none;
}

#nav--title {
    display: flex;
    justify-content: center;
    color: #1C2B52;
    font-family: "Lato";
    font-size: 45px;
    text-shadow: 8px 8px 10px #ffffff;
    margin-top: 10px; margin-bottom: 10px;
}

/*--Barra de búsqueda--*/
.nav--search {
    display: flex;
    margin-top: 10px;
    max-width: 280px;
    border-radius: 50px;
    background: linear-gradient(82deg, rgba(255, 255, 255, 0.85) 25.66%, rgba(134, 192, 234, 0.81) 101.15%, rgba(0, 122, 255, 0.85) 131.58%);
    position: relative;
}

.search--imput {
    border: none;
    background: none;
    color: black;
    font-size: 12px;
    padding: 7px 9px 7px 15px; 
}

/*--Boton y lupa--*/
.botton {
    color: white;
    position: absolute;
    right: 0px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: none;
    display: inline-block;
    opacity: 80%;
}

.botton:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
    transform: translateY(-3px);
    opacity: 120%;
    cursor: pointer;
}

/*--Menú de servicios--*/
.nav--menu {
    display: inline;
    font-family: "Lato";
    font-size: 25px;
    padding-top: 15px;
}

.nav--menu a {
    text-decoration: none;
    color: #1C2B52;
    text-align: center;
    padding:2px 15px;
    border-radius: 15px 15px 0px 0px;
}

.nav--menu a:hover {
    border-radius: 25px 25px 0px 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.90) 14.75%, rgba(30, 144, 255, 0.45) 62.3%, rgba(30, 144, 255, 0.90) 101.64%);
    transition: .5s;
    padding-bottom: 2px;
}

/*      Imagen SOS e Icono      */

#SOS-image{
    width: 60px;
    padding: 10px;
}

.nav--ingresar a {
    color: #DDEBFA;
    margin-right: 60px;
}


/*- Footer -*/
footer {
    background-color: #1C2B52;
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 6em;
    font-family: "Comfortaa";
    font-size: 18px;
}

.section-redes {
    display: inline;
    position: absolute;
    margin-top: 25px;
}

.section-redes a {
    color: #1C2B52;
}

.img-redes{
    width: 35px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    top: 10px;
    padding: 6px;
    margin-left: 10px;
    opacity: 50%;
}

#IG:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    width: 40px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 100%;
    transition: .05s;
}

#Twitter:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    width: 40px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 100%;
    transition: .05s;
}

#Face:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    width: 40px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 100%;
    transition: .05s;
}

.section{
    position: absolute;
    width: 60%;
    left: 50%;
    translate: -50%;
    top: 30px;
    font-family: "Comfortaa";
    font-size: 12px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.section a{
    padding-left: 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    opacity: 50%;
}


#aviso:hover{
    color: white;
    transition: 0.1s;
    text-decoration: dotted;
    font-size: 20px;
    font-weight: bold;
    opacity: 120%;
}

#terminos:hover{
    color: white;
    transition: 0.1s;
    text-decoration: dotted;
    font-size: 20px;
    font-weight: bold;
    opacity: 120%;
} 

#acces:hover{
    color: white;
    transition: 0.1s;
    text-decoration: dotted;
    font-size: 20px;
    font-weight: bold;
    opacity: 120%;
}

.derechos-copi{
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 0px;
    margin-top: 50px;
    font-size: 12px;
    opacity: 50%;
    color: white;
}


/*-Comiezo de Media query's Header-*/


@media (max-width:950px){
    .nav--container{
        padding: 10px;
    }

    .nav--logo img{
        width: 100px;
        height: 100px;
    }

    .centro {
        display: flex;
        position: absolute;
        flex-direction: column;
        margin-left: 50%;
        translate: -50%;
    }
    
    #nav--title {
        display: flex;
        justify-content: center;
        color: #1C2B52;
        font-family: "Lato";
        font-size: 25px;
        text-shadow: 8px 8px 10px #ffffff;
        margin-top: 20px; margin-bottom: 10px;
    }
    .nav--menu a {
        display: none;
    }
    
    .nav--ingresar{
        display: flex;
        position: absolute;
        flex-direction: row;
        top: 25%;
        right: 0%;
    }

    #SOS-image{
        width: 40px;
        padding: 5px;
    }

    #login-image{
        width: 40px;
        padding: 5px;
    }
}



@media (max-width: 700px){
    .nav--container{
        padding: 10px;
    }

    .nav--logo img{
        width: 100px;
        height: 100px;
    }

    .centro {
        display: flex;
        position: absolute;
        flex-direction: column;
        margin-left: 50%;
        translate: -50%;
    }
    
    #nav--title {
        display: flex;
        justify-content: center;
        color: #1C2B52;
        font-family: "Lato";
        font-size: 25px;
        text-shadow: 8px 8px 10px #ffffff;
        margin-top: 20px; margin-bottom: 10px;
    }
    .nav--menu a {
        display: none;
    }
    
    .nav--ingresar{
        display: flex;
        position: absolute;
        flex-direction: row;
        top: 25%;
        /*margin-left: 75%;*/
        right: -5%;
    }

    #SOS-image{
        width: 40px;
        padding: 5px;
    }

    #login-image{
        width: 40px;
        padding: 5px;
    }
}


@media (max-width: 510px){
    .nav--container{
        padding: 5px;
    }

    .nav--logo img{
        width: 80px;
        height: 80px;
    }

    .centro {
        display: flex;
        position: absolute;
        flex-direction: column;
        margin-left: 50%;
        translate: -50%;
    }
    
    #nav--title {
        display: flex;
        justify-content: center;
        color: #1C2B52;
        font-family: "Lato";
        font-size: 25px;
        text-shadow: 8px 8px 10px #ffffff;
        margin-top: 20px; margin-bottom: 10px;
    }
    .nav--menu a {
        display: none;
    }
    
    .nav--ingresar{
        display: flex;
        position: absolute;
        flex-direction: row;
        top: 25%;
        /*margin-left: 75%;*/
        right: -10%;
    }

    #SOS-image{
        display: none;
    }

    #login-image{
        width: 40px;
        padding: 5px;
    }
}


/*-Media query's de footer-*/

@media (max-width: 950px){
    body {
        display: flex;
        flex-direction: column;
        padding-bottom: 10em;
    }

    footer{
    background-color: black;
    position: absolute;
    display: inline-block;
    bottom: 0px;
    width: 100%;
    height: 150px;
    margin: 0;
    font-family: "Comfortaa";
    font-size: 12px;
    }

    .section-redes{
        display: flex;
        position: absolute;
        margin-top: 5px;
        margin-left: 50%;
        translate: -50%;
    }

    .img-redes{
        width: 25px;
        display: inline;
        padding: 6px;
        opacity: 50%;
    }

    #IG:hover{
        background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #1C2B52 120.54%);;
        border-radius: 50%;
        width: 30px;
        box-shadow: 2px 2px 2px 2px black;
        opacity: 100%;
    }
    
    #Twitter:hover{
        background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #1C2B52 120.54%);;
        border-radius: 50%;
        width: 30px;
        box-shadow: 2px 2px 2px 2px black;
        opacity: 100%;
    }
    
    #Face:hover{
        background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #1C2B52 120.54%);;
        border-radius: 50%;
        width: 30px;
        box-shadow: 2px 2px 2px 2px black;
        opacity: 100%;
    }

    
    .section{
        display: flex;
        position: absolute;
        left: 50%;
        translate: -50%;
        top: 70px;
        font-family: "Comfortaa";
        font-size: 10px;
        padding: 5px;
        justify-content: space-between;
        width: 80%;
    }

    .section a{
        font-size: 15px;
        justify-content: space-between;
    }
}

@media (max-width: 730px){
    body {
        display: flex;
        flex-direction: column;
        padding-bottom: 11em;
    }

    footer{
    background-color: black;
    width: 100%;
    height: 12em;
    margin: 0;
    font-family: "Comfortaa";
    font-size: 12px;
    }
}

@media (max-width: 510px){
    body {
        display: flex;
        flex-direction: column;
        padding-bottom: 10em;
    }

    footer{
    background-color: black;
    width: 100%;
    height: 12em;
    margin: 0;
    font-family: "Comfortaa";
    font-size: 12px;
    }

    .section-redes{
        display: flex;
        position: absolute;
        margin-top: 5px;
        margin-left: 50%;
        translate: -50%;
    }

    .img-redes{
        width: 25px;
        display: inline;
        padding: 6px;
        opacity: 50%;
    }

    #IG:hover{
        background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
        border-radius: 50%;
        width: 30px;
        box-shadow: 2px 2px 2px 2px black;
        opacity: 100%;
    }
    
    #Twitter:hover{
        background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
        border-radius: 50%;
        width: 30px;
        box-shadow: 2px 2px 2px 2px black;
        opacity: 100%;
    }
    
    #Face:hover{
        background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
        border-radius: 50%;
        width: 30px;
        box-shadow: 2px 2px 2px 2px black;
        opacity: 100%;
    }

    .section{
        position: static;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-left: 50%;
        translate: -50%;
        margin-top: 45px;
    }

    .section a{
        font-size: 12px;
        font-family: "Comfortaa";
    }

    .derechos-copi{
        position: static;
        align-items: center;
        text-align: center;
        margin-left: 50%;
        margin-top: -18px;
        font-size: 10px;
        opacity: 50%;
        color: white;
    }
}