:root {
    --footer-blue: #1C2B52;
    --ocean-blue: #296CD1;
    --dark-gray: #869DA6;
    --ivory: #EFF0D5;
    --not-white: #F2F2EB;
    --green-tea: #BAD895;
    }

    * {
        box-sizing: border-box;
    }

.Principal-banner{
    background-color: #1C2B52;;
    background-size:contain;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;

    padding: 20px 80px 20px 0px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow: hidden;
}

.Principal-banner img{
    width: auto;
    max-width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-right: 30px;
}

.container-info {
    flex: 1; 
    text-align: center;
}


.container-info h1{
    font-size:40px;
    font-family: "Lato" ;
    font-weight: 900;
    color: #F2F2EB;;
    text-align: center;
    margin-bottom: 20px;
}

.container-info p{
    font-size:22px;
    padding: 15px;
    color: #EFF0D5;;
    font-family: "Merriweather" ;
    text-align: center;
    line-height: 1.6;
}

#Ultimos-articulos{
    font-family: "Lato" ;
    font-size: 29.5px;
    color: #1C2B52;
    font-weight: 700;
    margin: 25px;
}

.article-boxes{
    font-family: "Merriweather" ;
    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;
    column-gap: 80px;

    margin: 10px;
}


.article-boxes h3{
    font-size: 20px;
    text-align: right;
    margin: 10px;
    color: #1C2B52;
}

.article-boxes p{
    text-align: right;
    font-family: "Merriweather" ;
    margin: 20px;
    color: #1C2B52;
}


#box{
    background-color:#EFF0D5;
    border-radius: 20px;
    padding-bottom: 5px;
    font-family: "Merriweather" ;
    display: inline-block;
    overflow: hidden;
}

#box h3{
    font-family:"Lato";
}


/*.article#box img{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}*/

.article-boxes #box img, 
.hidden-images #box img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.hidden-images {
    display: none;
    visibility: none;
    opacity: 0;
    grid-column: 1/-1;
    gap: 50px 100px;
    justify-content: space-between;
}
.hidden-images.show {
    display: grid;
    visibility: visible;
    opacity: 1;
    grid-template-columns: repeat(3, 1fr);
}

.boton-mas{
    background-color: white;
    color: var(--footer-blue);
    border: none;
    padding: 10px 20px;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    width: 140px;
    font-size: 20px;
    transition-duration: 0.3s;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    font-family: "Lato";
}

#Vermas:hover{
    background-color:var(--footer-blue);
    color: white;
    border: solid white 2px;
    transition-duration: .3s
}

.container--masinfo{
    background-color: #1C2B52;
    font-family: "Merriweather";
    color: #1C2B52;
    width: 100%;
}

.container--masinfo h3{
    text-align: center;
    font-family: "lato";
    font-size: 33px;
    padding: 15px;
    color: #EFF0D5;
}



.contenido-masinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
    font-size: 25px;
    color: #EFF0D5;
}

.container--masinfo li{
    font-size: "lato";
}

.contenido-masinfo img{
    width: 200px;
}

/*Qué más te gustaría leer*/
.contactanos{
    font-family: "Merriweather";
    font-size: 20px;
    padding-bottom: 15px;
    text-align: right;
    color: var(--footer-blue);
    margin-right: 20px;
}

.redes{
    font-family: "Lato";
    font-size: 29.5px; 
    color: var(--footer-blue);
    text-align: center;
    padding-bottom: 30px;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor--red--soc{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.redes a{
    text-decoration: none;
}

.contenedor--red--soc img{
    align-items: center;
    filter: brightness(0.2) contrast(1.8);
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding-right: 10px;
}



#IG:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);
    border-radius: 50%;
    filter: brightness(1) contrast(1);
    width: 31px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 50%;
}

#Twitter:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    filter: brightness(1) contrast(1);
    width: 31px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 50%;
}

#Face:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    filter: brightness(1) contrast(1);
    width: 31px;
    box-shadow: 2px 2px 2px 2px #112b51;
    opacity: 50%;
}


.sin-estilo{
    color: inherit;
    text-decoration: none;
}



/*Medias Queries*/

/*Banner*/

@media (max-width: 1440px) {
    .Principal-banner img {
        max-width: 400px; 
    }
}

@media (max-width: 1024px) {
    .Principal-banner img {
        max-width: 400px; 
    }
}

@media (max-width: 780px) {
    .Principal-banner {
        flex-direction: column; 
        align-items: center;
        padding: 30px;
    }
    .Principal-banner img {
        max-width: 350px; 
    }
    .container-info h1 {
        font-size: 35px; 
    }

    .container-info p {
        font-size: 20px;
    }
    .boton-mas {
        margin-right: 0;
        margin-left: auto;
        display: block;
}
}

@media (max-width: 480px) {
    .Principal-banner img {
        max-width: 250px;
    }
    .container-info h1 {
        font-size: 30px; 
    }

    .container-info p {
        font-size: 18px;
    }
    .boton-mas {
        width: 80px;
        height: 35px;
        font-size: 14px;
        margin-left: auto;
        display: block; 
    }
}


/* Últimos artículos */
@media (max-width: 1024px) {
    .article-boxes {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .hidden-images.show {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 780px) {
    .article-boxes {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .hidden-images.show {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .boton-mas {
        width: 80px;
        height: 35px;
        font-size: 14px;
    }

    .container--masinfo {
        font-size: 20px;
        margin: 10px;
    }

    .contenido-masinfo img {
        width: 150px;
    }
}