:root {
    --footer-blue: #1C2B52;
    --ocean-blue: #296CD1;
    --dark-gray: #869DA6;
    --ivory: #EFF0D5;
    --not-white: #F2F2EB;
    --green-tea: #BAD895;
    }

.container--info{
    background-color: var(--dark-gray);
    background-size:contain;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.grid-item{
    text-align: center;
}

.grid-item h1{
    font-size:50px;
    font-family: "Lato" ;
    font-weight: 1000;
    color: #1C2B52;
}

.grid-item p{
    font-size:40px;
    display: grid;
    padding: 15px;
    font-family: "Merriweather" ;
    text-align: center;
}


.container--articles h2{
    font-family: "Lato" ;
    font-size: 40px;
    color: #1C2B52;
    font-weight: 700;
    margin: 25px;
}

.article-boxes{
    font-family: "Merriweather" ;
    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;
    column-gap: 80px;
    margin: 20px;
}

.article-boxes h3{
    font-size: 30px;
    text-align: right;
    margin: 20px;
}

.article-boxes p{
    font-size: 33px;
    text-align: right;
    margin: 20px;
}


#box{
    background-color:#EFF0D5;
    border-radius: 20px;
    padding-bottom: 20px;
    font-family: "Merriweather" ;
    display: inline-block;
    overflow: hidden;
}

#box img{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 400px;
    min-height: 200px;
    max-height: 400px;
    object-fit: cover;
}

#boton-mas{
    background-color: #BAD895;
    border: #BAD895 solid 2px;
    border-radius: 35px;
    width: 150px; 
    height: 70px;
    font-size: 30px;
    font-family: "Merriweather";
    color: var(--footer-blue);
    text-align: center;
    cursor:pointer;
    float: right;
    margin-right: 20px;
}


/*.container--articles button:hover{
    background-color: var(--footer-blue);
    border: var(--footer-blue) solid 2px;
    color:#BAD895;
    cursor: pointer;
    transition: 1.2ms;
}*/

.container--masinfo{
    background-color: var(--dark-gray);
    font-family: "Merriweather";
    color: #1C2B52;
}

.container--masinfo h3{
    text-align: center;
    font-size: 70px;
    padding: 15px;
}

/*Qué más te gustaría leer*/
.container--masinfo p{ 
    text-align: center;
    font-size: 33px;
    padding-bottom: 15px;
}

.contenido-masinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
    font-size: 40px;
    color: #EFF0D5;
}


.contenido-masinfo img{
    width: 340px;
}

.redes{
    font-family: "Lato";
    font-size: 39px;
    color: var(--footer-blue);
    text-align: center;
    padding-bottom: 30px;
}

.redes img{
    align-items: left;
    filter: brightness(0.2) contrast(1.8);
    width: 60px;
    height: 60px;
}

#IG:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    width: 63px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 50%;
}

#Twitter:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    width: 63px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 50%;
}

#Face:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    width: 63px;
    box-shadow: 2px 2px 2px 2px #296CD1;
    opacity: 50%;
}

/*Medias Queries*/

@media (max-width: 1260px){
    #box1 img, #box2 img, #box3 img{
        width: 100%;
        height: auto;
        display: block;
    }

    .article-boxes{
        display: grid;
        gap: 50px 100px;
        grid-template-columns: auto auto;
        column-gap: 80px;
        width: 80%;
        margin: 20px;
        }
}