* {
    box-sizing: border-box;
}

.container--principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--calendar {
    flex-direction: column;
    width: 500px;
    height: 600px;
    margin: 100px auto;
    border-radius: 20px;
    background-color: #F2F2EB;
}

.container--text h2 {
    display: flex;
    text-align: center;
    font-family: 'Lato';
}

.header--calendar {
    width: 100%;
    height: 40%;
    background: linear-gradient(#296CD1, #1C2B52);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column;
}

.header--calendar h1 {
    margin: 30px 30px 0px 30px;
    padding: 0px;
    font-family: 'Lato';
    color: #EFF0D5;
    font-size: 100px;
}

.header--calendar h5 {
    margin: 0px 30px;
    padding: 0px;
    font-family: 'Lato';
    color: #EFF0D5;
    font-size: 40px;
}

.body--calendar {
    width: 100%;
    height: 55%;
    border-radius: 0px 0px 20px 20px;
}

.container--details {
    width: 100%;
    height: 30px;
    position: relative;
    top: -14px;
    display: flex;
    justify-content: space-between;
}

.container--details .detail--1,
.container--details .detail--2 {
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container--details .detail--1 .detail,
.container--details .detail--2 .detail {
    margin: 0px 2px;
    width: 10px;
    height: 100%;
}

.container--details .detail--1 .detail .circle,
.container--details .detail--2 .detail .circle {
    width: 10px;
    height: 10px;
    background: #1C1E26;
    position: relative;
    top: calc(30px - 10px);
    border-radius: 50%;
}

.container--details .detail--1 .detail .circle .column,
.container--details .detail--2 .detail .circle .column {
    width: 80%;
    height: 30px;
    background: #ececec;
    margin: 0px auto;
    position: relative;
    top: -22px;
    border-radius: 5px;
}

.container--change--month {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-evenly;
}

.container--change--month div {
    height: 20px;
    margin: auto;
    font-family: 'Merriweather';
}

.container--change--month button {
    font-family: 'Merriweather';
    font-size: 20px;
    margin: auto 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.container--weekdays {
    width: 90%;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0px auto;
}

.container--weekdays span {
    color: #296CD1;
    font-family: 'Merriweather';
    height: 100%;
    line-height: 2.5;
}

.weekdays--item {
    display: grid;
    grid-template-columns: (7, 1fr);
    margin: auto;
    width: calc(100% / 7);
    justify-content: center;
    cursor: pointer;
}

.weekdays--item:hover {
    color: #1C2B52;
}

.prev_days {
    opacity: 0.5;
}

.container--days {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex-flow: row wrap;
    margin: 0px auto;
}

.container--days span {
    color: black;
    background: #F2F2EB;
    height: 20px;
    margin: 5px 0px;
    padding: 0px;
    font-family: 'Merriweather';
}

.container--days .today {
    display: flex;
}

.container--days .today:after {
    content: "Hoy";
    width: 28px;
    height: 20px;
    background: #BAD895;
    color:#296CD1;
    position: static;
    border-radius: 50%;
    border: 2px solid #296CD1;
    opacity: 0.8;
    margin: 0px 0px 0px 0px;
}

/*# sourceMappingURL=styles.css.map */

.container--menu {
    flex-direction: column;
    height: fit-content;
    color: #F2F2EB;
    background-color: transparent;
    box-shadow: #296CD1;
    font-family: "Lato";
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 720px;
    margin: auto;
    border-radius: 20px;
}

#imagenp {
    width: 50%;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(15, 15, 15, 0.5);
    position: static;
    top: 10%;
    right: 50%;
    transform: translate(50%, -50%);
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.container--menu a{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.container--menu button {
    background-color: #212A3E;
    color: white;
    border: none;
    padding: 10px 5px;
    margin: 10px 0px;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 20px;
    transition-duration: 0.3s
}

.container--menu button:hover {
    background-color: white;
    color: #212A3E;
    border: solid white 2px;
    transition-duration: 0.3s;
}

/*
#green {
    color:#1C2B52;
    background-color:#BAD895;
}
*/
@media (max-width: 750px) {
    .container--principal {
        flex-direction: column;
        place-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 750px) {
    .container--calendar {
        border-radius: 20px;
        margin: auto;
        padding: 2px;
    }

    .container--calendar .container--text h2 {
        font-size: small;
        place-content: center;
        margin-top: 40px;
    }
}

@media (max-width: 750px) {
    #imagenp {
        transform: translate(0%, -20%);
    }
    .container--menu {
        margin: auto;
        padding: 2px;
    }

    /* Botones del menú */
    .container--menu button {
        flex-wrap: wrap;
        flex-direction: column;
        place-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: static;
    }
}