footer {
    background-color: #1C2B52;
    position: absolute;
    display: inline-block;
    bottom: 0px;
    width: 100%;
    height: 100px;
    margin: 0;
    font-family: "Comfortaa";
    font-size: 18px;
}

.section-redes{
    display: inline;
    position: absolute;
    margin-top: 25px;
}

.img-redes{
    width: 35px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    top: 10px;
    padding: 6px;
    margin-left: 10px;
    opacity: 50%;
}

#IG:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    width: 40px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 100%;
}

#Twitter:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    width: 40px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 100%;
}

#Face:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    width: 40px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 100%;
}

.section{
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 30px;
    font-family: "Comfortaa";
    font-size: 12px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.section a{
    padding-left: 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    opacity: 50%;
}


#aviso:hover{
    color: white;
    transition: 0.1s;
    text-decoration: dotted;
    font-size: 20px;
    font-weight: bold;
    opacity: 120%;
}

#terminos:hover{
    color: white;
    transition: 0.1s;
    text-decoration: dotted;
    font-size: 20px;
    font-weight: bold;
    opacity: 120%;
} 

#acces:hover{
    color: white;
    transition: 0.1s;
    text-decoration: dotted;
    font-size: 20px;
    font-weight: bold;
    opacity: 120%;
}

.derechos-copi{
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 0px;
    font-size: 12px;
    opacity: 50%;
    color: white;
}


/*-Comiezo de mediaquery´s-*/

@media (max-width: 450px){
    footer{
    background-color: #1C2B52;
    position: absolute;
    display: inline-block;
    bottom: 0px;
    width: 100%;
    height: 100px;
    margin: 0;
    font-family: "Comfortaa";
    font-size: 12px;
    }
    .section {
        margin-bottom: 16px;
    }
}