body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);
    padding-bottom: 7em;
    position: relative;
}

/*      Barra de navegación     */

/*----Aquí empieza el logo y la hamburguesa*/
.nav--container {
    background: linear-gradient(279deg, rgba(255, 255, 255, 0.80) 11.65%, rgba(30, 144, 255, 0.80) 66.35%, rgba(92, 183, 221, 0.80) 109.43%);
    display: flex;
    flex-direction: row;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.container--menus{
    display: flex;
    width: fit-content;
    justify-content: left;
    align-items: center;
    width: 15%;
    height: fit-content;

}
.nav--logo{
    width: 40%;
    margin-left: 10%;
}

#logo--Ns{
    padding: 0;
    margin: 2%;
    width: 100%;
    height: 100%;
}

.container-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50px;
    margin-left: 5%;
    visibility: hidden;
}

.abrir{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    
}

#img--menu{
    width: 80%;
}

.noactive{
    transition: .4s;
    translate: -100%;
}

.ul-lis{
    width: 20%;
    height: 100%;
    background: linear-gradient(360deg, rgba(67,67,67,1) 0%, rgba(192,192,192,1) 42%, rgba(255,255,255,1) 100%);
    display: flex;
    align-items: center;
    position: fixed;
    flex-direction: column;
    margin: 0px;
    gap: 10px;
    top: 0%;
    left: 0%;
    z-index: 2;
}

.ul-lis{
    transform: translateY(0%);
    transition: .4s;
}

.cerrar{
    width: 50%;
    height: 14%;
    margin-top: 1%;
    margin-bottom: 2%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#cerrarNS{
    width: 70%;
}

.menu-link{
    width: 100%;
    text-align: center;
    font-size: clamp(10px, 1.5vw, 50px);
    font-family: 'Lato';
    text-decoration: none;
}


/*      Centro del navvar       */
.centro {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--Titulo Nexus Services--*/
#NS--title {
    width: 100%;
    text-decoration: none;
    text-align: center;
}

#nav--title {
    color: #1C2B52;
    font-family: "Lato";
    font-size: clamp(18px, 2.5vw, 45px);
    text-shadow: 8px 8px 10px #f2f4e6;
    margin-top: 1%;
    margin-bottom: 0%;
}

/*--Barra de búsqueda--*/
.nav--search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.search--imput {
    width: 30%;
    height: 30px;
    background: linear-gradient(82deg, rgba(255, 255, 255, 0.85) 25.66%, rgba(134, 192, 234, 0.81) 101.15%, rgba(0, 122, 255, 0.85) 131.58%);
    border-radius: 2rem;
    margin: 1%;
    color: black;
    font-size: 12px;
    padding: 7px 9px 7px 15px;
    border: none;
}

/*--Boton y lupa--*/
.botton {
    border: none;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    opacity: 80%;
    position: static;
    margin-left: -4.8%;
}

.botton:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
    transform: translateY(-3px);
    opacity: 120%;
    cursor: pointer;
}

#lupa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--Menú de servicios--*/
.nav--menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato";
    margin-top: 1%;
    margin-bottom: 0%;
    
}

.nav--menu a {
    margin-left: 1%;
    margin-bottom: 0%;
    text-decoration: none;
    color: #1C2B52;
    text-align: center;
    font-size: clamp(15px 3vw, 30px);
    border-radius: 15px 15px 0px 0px;
}

.nav--menu a:hover {
    border-radius: 25px 25px 0px 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.90) 14.75%, rgba(30, 144, 255, 0.45) 62.3%, rgba(30, 144, 255, 0.90) 101.64%);
    transition: .5s;
    padding-bottom: 2px;
}

/*      Imagen SOS e Icono      */

.nav--ingresar{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.extras--serv{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#SOS-image{
    width: 50%;
}

#login-image{
    width: 50%;
}


/*- Footer -*/
footer {
    background-color: #1C2B52;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: fit-content;
}

.primer--cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 1%;
}

.section-redes {
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 5%;
}

.contt--immgg{
    text-decoration: none;
    width: 50%;
    margin: 1.5%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: fit-content;
}

.palabras--footer{
    text-decoration: none;
    width: fit-content;
    color: #f2f4e6;
    font-family: "Comfortaa";
    font-size: clamp(10px 1vw, 20px);
    margin: 2%;
    opacity: 80%;
}

#IG{
    width: 95%;
    opacity: 50%;
}

#IG:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    width: 40px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 100%;
    transition: .05s;
}

#Twitter{
    width: 90%;
    opacity: 50%;
}

#Twitter:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    width: 40px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 100%;
    transition: .05s;
}

#Face{
    width: 100%;
    opacity: 50%;
}

#Face:hover{
    background: linear-gradient(359deg, rgba(134, 192, 234, 0.54) 33.75%, #296CD1 120.54%);;
    border-radius: 50%;
    width: 40px;
    box-shadow: 2px 2px 2px 2px black;
    opacity: 100%;
    transition: .05s;
}

#aviso:hover{
    color: white;
    transition: 0.1s;
    text-decoration: dotted;
    font-size: 20px;
    font-weight: bold;
    opacity: 120%;
}

#terminos:hover{
    color: white;
    transition: 0.1s;
    text-decoration: dotted;
    font-size: 20px;
    font-weight: bold;
    opacity: 120%;
} 

#acces:hover{
    color: white;
    transition: 0.1s;
    text-decoration: dotted;
    font-size: 20px;
    font-weight: bold;
    opacity: 120%;
}

.derechos-copi{
    font-family: 'Confortaa';
    font-size: clamp(10px, 1.5vw, 18px);
    opacity: 50%;
    color: white;
}


/*-Comiezo de Media query's-*/

@media (max-width: 750px){
    .container-list{
        visibility: visible;

    }

    .ul-lis{
        width: 40%;
        height: 100%;
        background: linear-gradient(360deg, rgba(67,67,67,1) 0%, rgba(192,192,192,1) 42%, rgba(255,255,255,1) 100%);
        margin: 0px;
        gap: 10px;
        top: 0%;
        left: 0%;
        z-index: 2;
    }

    .search--imput {
        width: 30%;
        height: 20px;
        margin: 1%;
    }
    
    /*--Boton y lupa--*/
    .botton {
        border: none;
        width: 20px;
        height: 20px;
    }

    #img--menu{
        width: 90%;
    }

    #SOS-image{
        width: 60%;
    }
    
    #login-image{
        width: 60%;
    }

    .nav--menu a {
        visibility: hidden;
    }

   
}

@media (max-width: 550px){
    #img--menu{
        width: 100%;
    }

    #SOS-image{
        width: 65%;
    }
    
    #login-image{
        width: 65%;
    }

    .search--imput {
        width: 35%;
        height: 16px;
        margin: 1%;
    }
    
    /*--Boton y lupa--*/
    .botton {
        border: none;
        width: 15px;
        height: 15px;
    }


    .primer--cont{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .section-redes {
        width: 50px;
        gap: 2%;
    }
    
    .contt--immgg{
        text-decoration: none;
        width: 50%;
        margin: 1.5%;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 5px;
    }
    
    .palabras--footer{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        margin: 1%;
    }
    
    #Face:hover{
        width: 20px;
    }
    #Twitter:hover
    {
        width: 20px;
    }
    #IG:hover
    {
        width: 20px;
    }

    #aviso:hover
    {
        font-size: 13px;
    }
    #terminos:hover
    {
        font-size: 13px;
    }
    #acces:hover
    {
        font-size: 13px;
    }
    
}